Checks: >
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  -readability-function-cognitive-complexity,
  -modernize-use-nodiscard

WarningsAsErrors: "*"

HeaderFilterRegex: "^.*opensvs/(src|tests)/"
#AnalyzeTemporaryDtors: true
FormatStyle: none
